// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import * as Core from '../core';
import * as IngestAPI from './ingest';

export class Ingest extends APIResource {
  /**
   * The url to post a return webhook request to. This url will be generated by
   * Lorikeet and sent as a payload to your webhook
   */
  returnWebhook(
    toolId: string,
    ticketId: string,
    body: IngestReturnWebhookParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<void> {
    return this._client.post(`/ingest/${toolId}/${ticketId}`, {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Create a signed JWT so that we can associate customer data with a user account
   * securely.
   */
  token(body: IngestTokenParams, options?: Core.RequestOptions): Core.APIPromise<void> {
    return this._client.post('/ingest/token', {
      body,
      ...options,
      headers: { Accept: '*/*', ...options?.headers },
    });
  }

  /**
   * Validate your webhook is configured correctly
   */
  validate(
    body: IngestValidateParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<IngestValidateResponse> {
    return this._client.post('/ingest/validate', { body, ...options });
  }
}

export interface IngestValidateResponse {
  code?: 200;

  /**
   * The return data for the tool request.
   */
  data?: string;
}

export interface IngestReturnWebhookParams {
  /**
   * The return data for the tool request.
   */
  data: unknown;
}

export interface IngestTokenParams {
  /**
   * The email of the user.
   */
  email: string;

  /**
   * The first name of the user.
   */
  firstName: string;

  /**
   * The last name of the user.
   */
  lastName: string;

  /**
   * The unique identifier of the user in your system.
   */
  remoteId: string;
}

export interface IngestValidateParams {
  /**
   * The return data for the tool request.
   */
  data: unknown;
}

export namespace Ingest {
  export import IngestValidateResponse = IngestAPI.IngestValidateResponse;
  export import IngestReturnWebhookParams = IngestAPI.IngestReturnWebhookParams;
  export import IngestTokenParams = IngestAPI.IngestTokenParams;
  export import IngestValidateParams = IngestAPI.IngestValidateParams;
}
